AWSTemplateFormatVersion: "2010-09-09"
Description: "Space Layer: Consolidated Core Network Security"

Parameters:
  Environment:
    Type: String
    Description: "The environment name to prefix resource names."
    AllowedValues: [dev, stage, prod]

Resources:
  # Network ACLs
  MainPublicNacl:
    Type: AWS::EC2::NetworkAcl
    Properties:
      VpcId: !Sub "{{resolve:ssm:/iac/space/network/${Environment}-main-vpc-id}}"
      Tags:
        - Key: Name
          Value: !Sub "${Environment}-main-public-nacl"
        - Key: Environment
          Value: !Sub "${Environment}"
        - Key: Owner
          Value: "DevOps"
        - Key: Platform
          Value: "space"
        - Key: Layer
          Value: "network-consolidated-network-core-security"
  MainPrivateNacl:
    Type: AWS::EC2::NetworkAcl
    Properties:
      VpcId: !Sub "{{resolve:ssm:/iac/space/network/${Environment}-main-vpc-id}}"
      Tags:
        - Key: Name
          Value: !Sub "${Environment}-main-private-nacl"
        - Key: Environment
          Value: !Sub "${Environment}"
        - Key: Owner
          Value: "DevOpsEngineers"
        - Key: Platform
          Value: "space"
        - Key: Layer
          Value: "network-consolidated-network-core-security"
  # NACL Rules
  InboundPublicAllNaclEntry:
    Type: AWS::EC2::NetworkAclEntry
    DependsOn: MainPublicNacl
    Properties:
      NetworkAclId: !Ref MainPublicNacl
      RuleNumber: 100
      Protocol: -1
      RuleAction: allow
      Egress: false
      CidrBlock: 0.0.0.0/0
  OutboundPublicAllNaclEntry:
    Type: AWS::EC2::NetworkAclEntry
    DependsOn: MainPublicNacl
    Properties:
      NetworkAclId: !Ref MainPublicNacl
      RuleNumber: 100
      Protocol: -1
      RuleAction: allow
      Egress: true
      CidrBlock: 0.0.0.0/0
  InboundPrivateVpcAllNaclEntry:
    Type: AWS::EC2::NetworkAclEntry
    DependsOn: MainPrivateNacl
    Properties:
      NetworkAclId: !Ref MainPrivateNacl
      RuleNumber: 100
      Protocol: -1
      RuleAction: allow
      Egress: false
      CidrBlock: 10.0.0.0/16
  InboundPrivateEphemeralNaclEntry:
    Type: AWS::EC2::NetworkAclEntry
    DependsOn: MainPrivateNacl
    Properties:
      NetworkAclId: !Ref MainPrivateNacl
      RuleNumber: 110
      Protocol: 6
      RuleAction: allow
      Egress: false
      CidrBlock: 0.0.0.0/0
      PortRange: { From: 1024, To: 65535 }
  OutboundPrivateAllNaclEntry:
    Type: AWS::EC2::NetworkAclEntry
    DependsOn: MainPrivateNacl
    Properties:
      NetworkAclId: !Ref MainPrivateNacl
      RuleNumber: 100
      Protocol: -1
      RuleAction: allow
      Egress: true
      CidrBlock: 0.0.0.0/0
  # Subnet NACL Associations
  PublicSubnet1NaclAssociation:
    Type: AWS::EC2::SubnetNetworkAclAssociation
    DependsOn:
      - MainPublicNacl
      - InboundPublicAllNaclEntry
      - OutboundPublicAllNaclEntry
    Properties:
      SubnetId: !Sub "{{resolve:ssm:/iac/space/network/${Environment}-main-public-subnet1-id}}"
      NetworkAclId: !Ref MainPublicNacl
  PublicSubnet2NaclAssociation:
    Type: AWS::EC2::SubnetNetworkAclAssociation
    DependsOn:
      - MainPublicNacl
      - InboundPublicAllNaclEntry
      - OutboundPublicAllNaclEntry
    Properties:
      SubnetId: !Sub "{{resolve:ssm:/iac/space/network/${Environment}-main-public-subnet2-id}}"
      NetworkAclId: !Ref MainPublicNacl
  PrivateSubnet1NaclAssociation:
    Type: AWS::EC2::SubnetNetworkAclAssociation
    DependsOn:
      - MainPrivateNacl
      - InboundPrivateVpcAllNaclEntry
      - InboundPrivateEphemeralNaclEntry
      - OutboundPrivateAllNaclEntry
    Properties:
      SubnetId: !Sub "{{resolve:ssm:/iac/space/network/${Environment}-main-private-subnet1-id}}"
      NetworkAclId: !Ref MainPrivateNacl
  PrivateSubnet2NaclAssociation:
    Type: AWS::EC2::SubnetNetworkAclAssociation
    DependsOn:
      - MainPrivateNacl
      - InboundPrivateVpcAllNaclEntry
      - InboundPrivateEphemeralNaclEntry
      - OutboundPrivateAllNaclEntry
    Properties:
      SubnetId: !Sub "{{resolve:ssm:/iac/space/network/${Environment}-main-private-subnet2-id}}"
      NetworkAclId: !Ref MainPrivateNacl

  # Parameter Store Exports
  MainPublicNaclId:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/iac/space/network/${Environment}-main-public-nacl-id"
      Description: "ID of the MainPublicNacl"
      Type: String
      Value: !GetAtt MainPublicNacl.Id
  MainPrivateNaclId:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/iac/space/network/${Environment}-main-private-nacl-id"
      Description: "ID of the MainPrivateNacl"
      Type: String
      Value: !GetAtt MainPrivateNacl.Id
