AWSTemplateFormatVersion: "2010-09-09"
Description: "Space Layer 003: Network Security"

Parameters:
  Environment:
    Type: String
    Description: "The environment name to prefix resource names."
    AllowedValues: [dev, stage, prod]
  Region:
    Type: String
    Description: "The region where the resources will reside."

Resources:
  # Network ACLs
  MainPublicNacl:
    Type: AWS::EC2::NetworkAcl
    Properties:
      VpcId: !ImportValue
        Fn::Sub: "${Environment}-MainVpc-id"
      Tags:
        - Key: Name
          Value: !Sub "${Environment}-main-public-nacl"
        - Key: Environment
          Value: !Sub "${Environment}"
        - Key: Owner
          Value: "DevOps"
        - Key: Platform
          Value: "space"
  MainPrivateNacl:
    Type: AWS::EC2::NetworkAcl
    Properties:
      VpcId: !ImportValue
        Fn::Sub: "${Environment}-MainVpc-id"
      Tags:
        - Key: Name
          Value: !Sub "${Environment}-main-private-nacl"
        - Key: Environment
          Value: !Sub "${Environment}"
        - Key: Owner
          Value: "DevOps"
        - Key: Platform
          Value: "space"
  # NACL Rules
  InboundPublicAllNaclEntry:
    Type: AWS::EC2::NetworkAclEntry
    Properties:
      NetworkAclId: !Ref MainPublicNacl
      RuleNumber: 100
      Protocol: -1
      RuleAction: allow
      Egress: false
      CidrBlock: 0.0.0.0/0
  OutboundPublicAllNaclEntry:
    Type: AWS::EC2::NetworkAclEntry
    Properties:
      NetworkAclId: !Ref MainPublicNacl
      RuleNumber: 100
      Protocol: -1
      RuleAction: allow
      Egress: true
      CidrBlock: 0.0.0.0/0
  InboundPrivateVpcAllNaclEntry:
    Type: AWS::EC2::NetworkAclEntry
    Properties:
      NetworkAclId: !Ref MainPrivateNacl
      RuleNumber: 100
      Protocol: -1
      RuleAction: allow
      Egress: false
      CidrBlock: 10.0.0.0/16
  InboundPrivateEphemeralNaclEntry:
    Type: AWS::EC2::NetworkAclEntry
    Properties:
      NetworkAclId: !Ref MainPrivateNacl
      RuleNumber: 110
      Protocol: 6
      RuleAction: allow
      Egress: false
      CidrBlock: 0.0.0.0/0
      PortRange: { From: 1024, To: 65535 }
  OutboundPrivateAllNaclEntry:
    Type: AWS::EC2::NetworkAclEntry
    Properties:
      NetworkAclId: !Ref MainPrivateNacl
      RuleNumber: 100
      Protocol: -1
      RuleAction: allow
      Egress: true
      CidrBlock: 0.0.0.0/0
  # Subnet NACL Associations
  PublicSubnet1NaclAssociation:
    Type: AWS::EC2::SubnetNetworkAclAssociation
    Properties:
      SubnetId: !ImportValue
        Fn::Sub: "${Environment}-MainPublicSubnet1-id"
      NetworkAclId: !Ref MainPublicNacl
  PublicSubnet2NaclAssociation:
    Type: AWS::EC2::SubnetNetworkAclAssociation
    Properties:
      SubnetId: !ImportValue
        Fn::Sub: "${Environment}-MainPublicSubnet2-id"
      NetworkAclId: !Ref MainPublicNacl
  PrivateSubnet1NaclAssociation:
    Type: AWS::EC2::SubnetNetworkAclAssociation
    Properties:
      SubnetId: !ImportValue
        Fn::Sub: "${Environment}-MainPrivateSubnet1-id"
      NetworkAclId: !Ref MainPrivateNacl
  PrivateSubnet2NaclAssociation:
    Type: AWS::EC2::SubnetNetworkAclAssociation
    Properties:
      SubnetId: !ImportValue
        Fn::Sub: "${Environment}-MainPrivateSubnet2-id"
      NetworkAclId: !Ref MainPrivateNacl

Outputs:
  # Network ACLs
  MainPublicNaclId:
    Description: "ID of the MainPublicNacl"
    Value: !GetAtt MainPublicNacl.Id
    Export:
      Name: !Sub "${Environment}-MainPublicNacl-id"
  MainPrivateNaclId:
    Description: "ID of the MainPrivateNacl"
    Value: !GetAtt MainPrivateNacl.Id
    Export:
      Name: !Sub "${Environment}-MainPrivateNacl-id"
  # NACL Rules
  InboundPublicAllNaclEntryId:
    Description: "ID of the InboundPublicAllNaclEntry"
    Value: !GetAtt InboundPublicAllNaclEntry.Id
    Export:
      Name: !Sub "${Environment}-InboundPublicAllNaclEntry-id"
  OutboundPublicAllNaclEntryId:
    Description: "ID of the OutboundPublicAllNaclEntry"
    Value: !GetAtt OutboundPublicAllNaclEntry.Id
    Export:
      Name: !Sub "${Environment}-OutboundPublicAllNaclEntry-id"
  InboundPrivateVpcAllNaclEntryId:
    Description: "ID of the InboundPrivateVpcAllNaclEntry"
    Value: !GetAtt InboundPrivateVpcAllNaclEntry.Id
    Export:
      Name: !Sub "${Environment}-InboundPrivateVpcAllNaclEntry-id"
  InboundPrivateEphemeralNaclEntryId:
    Description: "ID of the InboundPrivateEphemeralNaclEntry"
    Value: !GetAtt InboundPrivateEphemeralNaclEntry.Id
    Export:
      Name: !Sub "${Environment}-InboundPrivateEphemeralNaclEntry-id"
  OutboundPrivateAllNaclEntryId:
    Description: "ID of the OutboundPrivateAllNaclEntry"
    Value: !GetAtt OutboundPrivateAllNaclEntry.Id
    Export:
      Name: !Sub "${Environment}-OutboundPrivateAllNaclEntry-id"
  # Subnet NACL Associations
  PublicSubnet1NaclAssociationId:
    Description: "ID of the PublicSubnet1NaclAssociation"
    Value: !GetAtt PublicSubnet1NaclAssociation.AssociationId
    Export:
      Name: !Sub "${Environment}-PublicSubnet1NaclAssociation-id"
  PublicSubnet2NaclAssociationId:
    Description: "ID of the PublicSubnet2NaclAssociation"
    Value: !GetAtt PublicSubnet2NaclAssociation.AssociationId
    Export:
      Name: !Sub "${Environment}-PublicSubnet2NaclAssociation-id"
  PrivateSubnet1NaclAssociationId:
    Description: "ID of the PrivateSubnet1NaclAssociation"
    Value: !GetAtt PrivateSubnet1NaclAssociation.AssociationId
    Export:
      Name: !Sub "${Environment}-PrivateSubnet1NaclAssociation-id"
  PrivateSubnet2NaclAssociationId:
    Description: "ID of the PrivateSubnet2NaclAssociation"
    Value: !GetAtt PrivateSubnet2NaclAssociation.AssociationId
    Export:
      Name: !Sub "${Environment}-PrivateSubnet2NaclAssociation-id"
